.States {
  display: inline-block;
  margin: 30px;
}

.StateRow {
  display: block;
  width: 250px;
}

.StateName {
  text-align: left;
  vertical-align: top;

  display: inline-block;
  margin-right: 10px;
}

.StatePopulation {
  text-align: right;
  vertical-align: top;

  display: inline-block;
  margin-left: 10px;
}

.Grid {
  display: inline-block;
  vertical-align: top;
  margin: 30px;
}

.GridBox {
  width: 30px;
  height: 30px;
  margin: 5px;
  text-align: center;
}

.Achievements {
  display: inline-block;
  margin: 30px;
}
